@using balenciaga.DataLayer.Entities.User
@model User

<div style="padding : 20px">
    <h2>Dear @Model.UserName</h2>
    <p>please active youre account for continue</p>
    <p>
        <a href="https://localhost:7167/account/ActiveAccount/@Model.ActiveCode">active account</a>
    </p>



</div>