<footer>
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <section class="list">
                        <header><h4> just a footer</h4></header>

                    </section>
                </div>
               
               
                
            </div>
        </div>
    </div>
   
</footer>