   <div class="main-menu">
    <div class="container">
        <nav>
            <span class="responsive-sign"><i class="zmdi zmdi-menu"></i></span>
            <ul>
                <li>
                    <a href=""> Men </a>
                   
                </li>
                <li>
                    <a href=""> Women </a>

                </li>
                <li><a href=""> UniSex </a></li>
               
              
            </ul>
        </nav>
    </div>
</div>