
@model balenciaga.Core.DTOs.InformationUserViewModel
@{
    ViewData["Title"] = "profile " + User.Identity.Name;
}

<main>
    <div class="container" style="background-color : white;">
        <div class="user-account">
            <div class="row">

               <partial name="_Sidebar"/>

                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header><h1> dashboard </h1></header>
                        <div class="inner">
                            <div class="account-information">
                                <h3> informations </h3>
                                <ul>
                                    <li> <i class="zmdi zmdi-assignment-account"></i> username : @Model.UserName </li>
                                    <li> <i class="zmdi zmdi-assignment-account"></i> register date : @Model.RegisterDate </li>
                                    <li> <i class="zmdi zmdi-calendar-check"></i> Email : @Model.Email   </li>
                                    <li> <i class="zmdi zmdi-account"></i> wallet : @Model.Wallet $  </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>

