@{
    ViewData["Title"] = "Home";
}

@section SearchBox
{
    <header>
    </header>
    <div class="search-form">
        <form>
            <input type="text" name="" placeholder="?what do you looking for">
            <button><i class="zmdi zmdi-search"></i></button>
        </form>
    </div>
}
<main id="home-page">
    <div class="container">
        <section class="terms-items">
            <header>

                <a href=""><h2>explore</h2>  </a>
            </header>
            <div class="row">
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/t.jpg"></a>
                        <h2><a href=""> box fit balenciaga T-Shirt </a></h2>
                        <span> 2.450$ </span>

                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/p.jpg"></a>
                        <h2><a href=""> straight baggy balensiaga pant </a></h2>
                        <span> 2.350$ </span>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/h.jpg"></a>
                        <h2><a href=""> street balenciaga hat </a></h2>
                        <span> 500$ </span>

                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/g.jpg"></a>
                        <h2><a href=""> balenciaga glasses </a></h2>
                        <span> 2.000$ </span>

                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/1009.jpg"></a>
                        <h2><a href=""> chunky balenciaga shose </a></h2>
                        <span> 5.500$</span>

                    </article>
                </div>
                <!-- /col -->
                <!-- col -->

            </div>
        </section>

        <hr>

    </div>
</main>

